<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">Registration</h2>
                <p *ngIf="isError" class="text-white-50 mb-5" style="color:red;">{{isMsg}}</p>
                <p *ngIf="isSuccess" class="text-white-50 mb-5" style="color:green;">{{isMsg}}</p>

                 <form (submit)="register()" [formGroup]="registerForm">
                    <div class="form-outline form-white mb-4">
                        <label class="form-label" for="typeEmailX">First Name</label>
                        <input type="text" name="first_name" formControlName="first_name" id="first_name" class="form-control form-control-lg" />
                        <label for="first_name" *ngIf="registerForm.get('first_name').errors?.required && registerForm.get('first_name').touched " style="color:red;font-size:12px;">Please enter your first name</label>
                      </div>
                      <div class="form-outline form-white mb-4">
                        <label class="form-label" for="typeEmailX">Last Name</label>
                        <input type="text" name="last_name" formControlName="last_name" id="last_name" class="form-control form-control-lg" />
                        <label for="last_name" *ngIf="registerForm.get('last_name').errors?.required && registerForm.get('last_name').touched " style="color:red;font-size:12px;">Please enter your last name</label>
                      </div>
                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typeEmailX">Email</label>
                  <input type="email" name="email" formControlName="email" id="typeEmailX" class="form-control form-control-lg" />
                  <label for="typeEmail" *ngIf="registerForm.get('email').errors?.required && registerForm.get('email').touched " style="color:red;font-size:12px;">Please enter your email address</label>
                  <label for="typeEmail" *ngIf="registerForm.get('email').errors?.email && registerForm.get('email').touched" style="color:red;font-size:12px;">Please provide a valid email address</label>
                </div>
  
                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typePasswordX">Password</label>
                  <input type="password" name="password" formControlName="password" id="typePasswordX" class="form-control form-control-lg" />
                  <label for="password" *ngIf="registerForm.get('password').errors?.required && registerForm.get('password').touched" style="color:red;font-size:12px;">Please enter your password</label>
                </div>
  
               
                <button [disabled]="registerForm.invalid" class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>
               </form>
                <div class="d-flex justify-content-center text-center mt-4 pt-1">
                  <!-- <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                  <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a> -->
                  <a style="cursor: pointer;" (click)="loginWithGoogle()" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                </div>
  
              </div>
  
              <div>
                <p class="mb-0">You have an account? <a [routerLink]="['/login']" routerLinkActive="router-link-active"  class="text-white-50 fw-bold">Sign In</a></p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>