<form enctype="multipart/form-data" [formGroup]="categoryForm" (submit)="addCategory($event)">
    <div class="row g-3">
        <div class="col">
            <input type="file" (change)="onFileChanged($event)" name="image" formControlName="image" class="form-control" placeholder="Category Image" aria-label="Category Image">
          </div>
        <div class="col">
          <input type="text" name="name" formControlName="name" class="form-control" placeholder="Category name" aria-label="Category name">
        </div>
        <div class="col">
          <input type="text" name="description" formControlName="description" class="form-control" placeholder="Description"  aria-label="Description">
        </div>
        <div class="col">
            <button style="cursor: pointer;" type="submit">Add</button>
          </div>
      </div>
</form>
<div class="container">
    <div class="row">
        <div class="col-6">
            <input #search type="search" placeholder="search">
        </div>
        <div class="col-6">
            <button (click)="searchCategory(search.value)" type="button">Search</button>
        </div>
    </div>

    <div class="row">
      <div class="col-12">
          <table class="table table-image">
            <thead>
              <tr>
      
                <th scope="col">Image</th>
                <th scope="col">Category Name</th>
                <th scope="col">Description</th>

              </tr>
            </thead>
            <tbody *ngFor="let cat of categories">
              <tr>
   
                <td class="w-25">
                    <img style="height: 100px;" src="{{cat.category_image}}" class="img-fluid img-thumbnail" alt="Sheep">
                </td>
                <td>{{cat.name}}</td>
                <td>{{cat.description}}</td>
              </tr>
            </tbody>
          </table>   
      </div>
    </div>
  </div>